<html>

	<head>
		<title>Character Menu</title>
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
		<link rel="stylesheet" href="libraries/vuetify.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/a9ae631541.js" crossorigin="anonymous"></script>
</head>

<body>
	<v-app id="DRP_Characters">
		<v-content>
			<div id="DRP_SelectCharacter" v-show="showCharacterSelector">
				<div id="DRP_Character_Base">
					<div id="DRP_Character_Header">
						<v-btn color="green" dark @click="showCharacterCreator = !showCharacterCreator">
							<b>Create Character</b>
						</v-btn>
						<v-btn color="red" dark @click="showDisconnectQuestion = !showDisconnectQuestion">
							<b>Disconnect</b>
						</v-btn>
					</div>
					<div id="DRP_Character_Body">
						<v-container grid-list-md>

							<v-alert style="font-family: pricedown; font-size: 30px;" type="info":value="characters.length <= 0">
								No Characters Found, please create one
							</v-alert>
							<v-layout row wrap>
								<v-flex xs5 v-for="(character, characterIndex) in characters" :key="characterIndex">
									<v-card id="DRP_Character_Card_Body">
										<v-card-title
											id="CharacterMenuName">
											<b>{{ character.name }}</b>
										</v-card-title>
										<hr style="border: 3px solid rgb(4, 138, 228)">
										<v-card-text style="color: white; font-weight: bold;">
											<b>Date Of Birth:</b> {{ character.dob }}<b>&nbsp;- Age:</b> {{ character.age }}<br>
											<b>Gender:</b> {{ character.gender }}<br>
											<b>Bank:</b> ${{ character.bank }}<br>
											<b>Cash:</b> ${{ character.cash }}<br>
										</v-card-text>
										<v-card-actions>
											<v-btn color="green" block dark @click="SelectCharacter(characterIndex)"><b>Play &nbsp;</b><i class="fas fa-play"></i></v-btn>
											<div class="tooltip"><v-btn color="blue" small fab dark @click=""><i class="fas fa-car"></i></v-btn><span class="tooltiptext">Garage WIP</span></div>
											<div class="tooltip"><v-btn color="cyan" small fab dark @click=""><i class="fas fa-user-check"></i></v-btn><span class="tooltiptext">Edit WIP</span></div>
											<div class="tooltip"><v-btn color="red" small fab dark @click="RequestDeleteCharacter(characterIndex)"><i class="fas fa-times"></i></v-btn><span class="tooltiptext">Delete Character</span></div>
									</v-card>
								</v-flex>
							</v-layout>
						</v-container>

						<v-dialog v-model="showCharacterDelete" scrollable persistent :overlay="false" max-width="370px"
						transition="dialog-transition">
						<v-card style="background-color: rgba(33, 32, 32, 1.0);">
							<v-card-title style="justify-content: center; color: white; font-family: arial; font-size: 25px;">
								Are you sure?
							</v-card-title>
							<v-card-text>
								<v-container grid-list-md>
									<v-layout row>
										<v-flex xs6>
											<v-btn color="blue" @click="showCharacterDelete = false">No, go back</v-btn>
										</v-flex>
										<v-flex xs6>
											<v-btn color="red" @click="DeleteCharacter()">Yes, I'm sure.</v-btn>
										</v-flex>
									</v-layout>
								</v-container>
							</v-card-text>
						</v-card>
					</v-dialog>

						<v-dialog v-model="showDisconnectQuestion" scrollable persistent :overlay="false"
						max-width="370px" transition="dialog-transition">
						<v-card style="background-color: rgba(33, 32, 32, 1.0);">
							<v-card-title style="justify-content: center; font-family: arial; font-size: 25px; color: white;">
								Do you want to Disconnect?
							</v-card-title>
							<v-card-text>
								<v-container grid-list-xs>
									<v-layout row>
										<v-flex xs6>
											<v-btn color="blue" @click="showDisconnectQuestion = false">
												Cancel</v-btn>
										</v-flex>
										<v-flex xs6>
											<v-btn color="red" dark block @click="DisconectMe()">
												Disconnect
											</v-btn>
										</v-flex>
									</v-layout>
								</v-container>
							</v-card-text>
						</v-card>
					</v-dialog>

						<v-dialog v-model="showCharacterSpawnMenu" scrollable persistent :overlay="false" max-width="900px"
							transition="dialog-transition">
							<v-content>
								<div id="DRP_SpawnMenu_Base" v-show="showCharacterSpawnMenu">
									<div id="DRP_SpawnMenu_Header">
										Spawn Selection
									</div>
									<div id="DRP_SpawnMenu_Body">
										<v-container grid-list-xs>
											<center><v-btn color="blue darken-1" block dark @click="LastPositionSpawnPreview(characters); selectedSpawnArea = 'lastknown'"><b>Last Position</b></v-btn></center>
											<center><v-btn color="blue darken-1" block dark @click="GarageSpawnPreview(); selectedSpawnArea = 'LS Garage'"><b>Garage</b></v-btn></center>
											<center><v-btn color="blue darken-1" block dark @click="TrainStationPreview(); selectedSpawnArea = 'Train Station'"><b>Train Station</b></v-btn></center>
											<center><v-btn color="green" block dark @click="SpawnLocation()"><b>Spawn</b></v-btn></center>
										</v-container>
									</div>
								</div>
							</v-content>
						</v-dialog>

						<v-dialog v-model="showCharacterCreator" scrollable persistent :overlay="false"
							max-width="900px" transition="dialog-transition">
							<!-- <img id="gta-logo" src=""> -->
							<v-card style="background-color: rgba(33, 32, 32, 1.0);">
								<v-card-title light style="font-size: 25px; justify-content: center; color: white;">
									Character Registration Form
								</v-card-title>
								<v-card-text>
									<v-form ref="DRPCreatorForm">
										<v-container grid-list-md>
											<v-layout row>
												<v-flex xs6>
													<v-text-field dark color="grey" label="First Name" v-model="selectedFirstname" :rules="nameRules"></v-text-field>
												</v-flex>
												<v-flex xs6>
													<v-text-field dark color="grey" label="Last Name" v-model="selectedLastname" :rules="nameRules"></v-text-field>
												</v-flex>
											</v-layout>
										</v-container>
										<v-container grid-list-md>
											<v-layout row>
												<v-flex xs12>
													<v-select dark :items="genders" v-model="selectedGender" label="Gender"
													:rules="genderRules">
													</v-select>
												</v-flex>
											</v-layout>
										</v-container>
										<v-container grid-list-md>
											<v-layout row>
												<v-flex xs6>
													<v-text-field dark label="Date Of Birth" :disabled="true" v-model="selectedDob" :rules="dobRules"></v-text-field>
												</v-flex>
												<v-flex xs6>
													<v-text-field dark label="Age" :disabled="true" v-model="selectedAge" :rules="ageRules"></v-text-field>
												</v-flex>
											</v-layout>
											<v-date-picker is-inline mode="single" dark id="DRP_Character_Menu_Creator_Calender" v-model="selectedDob" landscape></v-date-picker>
										</v-container>
									</v-form>
								</v-card-text>
								<v-card-actions>
									<v-layout row>
										<v-btn color="green" dark block @click="CreateCharacter()">
											<i class="fas fa-user-check"></i>
										</v-btn>
										<v-btn color="red" dark block
											@click="showCharacterCreator = !showCharacterCreator">
											<i class="fas fa-window-close"></i>
										</v-btn>
									</v-layout>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</div>
				</div>
			</div>
		</v-content>
	</v-app>

	<script src="libraries/axios.min.js"></script>
	<script src="libraries/vue.min.js"></script>
	<script src="libraries/vuetify.js"></script>
	<script src="script.js"></script>
</body>

</html>