<html>
  <head>
    <title>DRP Banking</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link rel="stylesheet" href="libraries/vuetify.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <v-app id="ATM_Menu">
      <v-content>
        <div id="ATM_Menu_Base" v-show="showATMMenu">
          <div id="ATM_Menu_Header">
            <div id="ATM_Character_Information">
              <div>Welcome, {{ character_name }}</div>
              <div>Cash Balance: $ {{ numberformat(cash) }}</div>
              <div>Bank Balance: $ {{ numberformat(account) }}</div>
            </div>
            <v-icon dark x-large left>account_balance</v-icon>
            City ATM
            <v-btn
              color="red"
              slot="activator"
              absolute
              right
              top
              fab
              dark
              small
              @click="CloseATMMenu()"
            >
              <v-icon>clear</v-icon>
            </v-btn>
          </div>
          <div id="ATM_Menu_Body">
            <v-container grid-list-md>
              <v-form @submit.prevent ref="depositForm" v-model="depositFormValid">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      label="Amount"
                      type="number"
                      :rules="inputRules"
                      v-model="depositAmount"
                      dark
                      color="white"
                      prefix="$"
                      :disabled="loading"
                      :loading="loading"
                      min="1"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-btn
                      color="blue"
                      block
                      dark
                      :loading="loading"
                      @click="DepositMoney('ATM')"
                      >Deposit (Enter Amount)
                    </v-btn>
                    <v-btn
                      color="blue"
                      block
                      dark
                      :loading="loading"
                      @click="DepositAll('ATM')"
                      >Deposit All
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-container>

            <center><h3 style="color: white">Cash Withdrawals</h3></center>

            <v-container grid-list-md>
                <v-layout row>
                  <v-flex xs6>
                    <v-btn
                    color="blue"
                    block
                    dark
                    :loading="loading"
                    @click="Quick5()"
                    >Quick $5
                  </v-btn>
                    <v-btn
                    color="blue"
                    block
                    dark
                    :loading="loading"
                    @click="Quick10()"
                    >Quick $10
                  </v-btn>
                    <v-btn
                    color="blue"
                    block
                    dark
                    :loading="loading"
                    @click="Quick25()"
                    >Quick $25
                  </v-btn>
                </v-flex>
                  <v-flex xs6>
                    <v-btn
                    color="blue"
                    block
                    dark
                    :loading="loading"
                    @click="Quick50()"
                    >Quick $50
                  </v-btn>
                    <v-btn
                    color="blue"
                    block
                    dark
                    :loading="loading"
                    @click="Quick100()"
                    >Quick $100
                  </v-btn>
                    <v-btn
                      color="blue"
                      block
                      dark
                      :loading="loading"
                      @click="Quick250()"
                      >Quick $250
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-container>
          </div>
        </div>


        <!-- YO BRO THIS IS THE BANKING UI -->
        <div id="ATM_Menu_Base" v-show="showBankMenu">
          <div v-if="page === 'bank'" class="tooltip">
            <v-btn
              color="orange"
              slot="activator"
              absolute
              left
              top
              fab
              dark
              small
              @click="page = 'transactions'">
              <v-icon>account_balance</v-icon>
            </v-btn>
            <span class="tooltiptext">Transactions</span>
          </div>
          <v-btn
            v-if="page === 'transactions'"
            color="red" slot="activator"
            absolute
            left
            top
            fab
            dark
            small
            @click="page = 'bank'">
            <v-icon>exit_to_app</v-icon>
          </v-btn>
          <div id="ATM_Menu_Header">
              <div id="ATM_Character_Information">
                <div v-if="page === 'bank'">
                  <div>Welcome, {{ character_name }}</div>
                  <div>Cash Balance: $ {{ numberformat(cash) }}</div>
                  <div>Bank Balance: $ {{ numberformat(account) }}</div>
                </div>
              </div>
            <v-icon dark x-large left>account_balance</v-icon>
            City Bank
            <v-btn
              color="red"
              slot="activator"
              absolute
              right
              top
              fab
              dark
              small
              @click="CloseBankMenu()"
              v-if="page === 'bank'"
            >
              <v-icon>clear</v-icon>
            </v-btn>
          </div>

          <div id="ATM_Menu_Body">
            <div v-if="page === 'bank'">
              <v-container grid-list-md>
                <v-form @submit.prevent ref="depositForm" v-model="depositFormValid">
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        label="Amount"
                        type="number"
                        :rules="inputRules"
                        v-model="depositAmount"
                        dark
                        color="white"
                        prefix="$"
                        :disabled="loading"
                        :loading="loading"
                        min="1"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs12>
                      <v-btn
                        color="blue"
                        block
                        dark
                        :loading="loading"
                        @click="DepositMoney('Bank')"
                        >Deposit (Enter Amount)
                      </v-btn>
                      <v-btn
                        color="blue"
                        block
                        dark
                        :loading="loading"
                        @click="DepositAll('Bank')"
                        >Deposit All</v-btn
                      >
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>
              <v-container grid-list-md>
                <v-form @submit.prevent ref="withdrawForm" v-model="withdrawFormValid">
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        label="Amount"
                        type="number"
                        :rules="inputRules"
                        v-model="withdrawAmount"
                        dark
                        color="white"
                        prefix="$"
                        :disabled="loading"
                        :loading="loading"
                        min="1"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs12>
                      <v-btn
                        color="blue"
                        block
                        dark
                        :loading="loading"
                        @click="WithdrawMoney('Bank')"
                        >Withdraw
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>
            </div>
            <div v-if="page === 'transactions'">
              <v-container grid-list-xl>
                <div v-for="(item, index) in transactions">
                  <v-list id="scrollable" dark subheader two-line>
                    <v-list-tile avatar @click="">
                      <v-list-tile-avatar>
                        <v-icon v-if="item.type === 'Bank'" class="grey lighten-1 black--text">account_balance</v-icon>
                        <v-icon v-if="item.type === 'ATM'" class="grey lighten-1 black--text">credit_card</v-icon>
                      </v-list-tile-avatar>          
                      <v-list-tile-content>
                        <v-list-tile-title v-if="item.types === 'withdraw'">Withdraw From {{ item.type }}</v-list-tile-title>
                        <v-list-tile-title v-if="item.types === 'deposit'">Deposit From {{ item.type }}</v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <div color="grey lighten-1">$ {{numberformat(item.amount)}}</div>
                      </v-list-tile-action>
                    </v-list-tile>
                    <v-divider inset></v-divider>
                  </v-list>
                </div>
              </v-container>
            </div>
          </div>
        </div>



        <!-- YO BRO THIS IS THE BANK ACCOUNT CREATOR -->
        <div id="AccountCreator_Menu_Base" v-show="showAccountCreator">
            <div id="ATM_Menu_Header">
                <v-icon dark x-large left>account_balance</v-icon>
                City Bank Account Creator Form
                <div id="ATM_Character_Information">
                    <div><b>Welcome, {{ character_name }}</b></div>
                </div>
              <v-btn
                color="red"
                slot="activator"
                absolute
                right
                top
                fab
                dark
                small
                @click="CloseAccountCreator()"
              >
                <v-icon>clear</v-icon>
              </v-btn>
            </div>
            <div id="ATM_Menu_Body">
                <v-container grid-list-md>
                    The Official form for creating your own Business Bank Accounts, please complete the form to requirements and if there is any issues you will be advised.
                    <br>
                    <br>
                    <v-form @submit.prevent ref="accountForm" v-model="accountFormValid">
                        <v-layout row>
                            <v-flex xs6>
                                <v-text-field
                                    label="Account Name"
                                    type="Label"
                                    v-model="accountName"
                                    dark
                                    color="white"
                                    prefix=""
                                    :disabled="loading"
                                    :loading="loading"
                                    min="1"
                                    >
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field
                                    label="Account Pin Code"
                                    type="number"
                                    :rules = "inputRules"
                                    v-model="accountPinCode"
                                    dark
                                    color="white"
                                    prefix=""
                                    :disabled="loading"
                                    :loading="loading"
                                    min="1"
                                    >
                                </v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-flex xs12>
                            <v-btn
                                color="blue"
                                block
                                dark
                                :loading="loading"
                                @click="SubmitAccountForm()"
                                >Submit Form
                            </v-btn>
                        </v-flex>
                    </v-form>


                    <v-container grid-list-xl>
                        <center>Existing Open Accounts</center>
                        <br>
                        <br>
                        <div v-for="(item, index) in businessAccounts">
                          <v-list id="scrollable" dark subheader two-line>
                            <v-list-tile avatar @click="">
                              <v-list-tile-avatar>
                                <v-icon class="grey lighten-1 black--text">account_balance</v-icon>
                              </v-list-tile-avatar>          
                              <v-list-tile-content>
                                <v-list-tile-title >Account Number: <b>{{ item.accountnumber }}</b></v-list-tile-title>
                                <v-list-tile-title >Account Name: <b>{{ item.accountname }}</b></v-list-tile-title>
                              </v-list-tile-content>
                              <v-list-tile-action>
                                <div color="grey lighten-1">$ {{numberformat(item.amount)}}</div>
                              </v-list-tile-action>
                            </v-list-tile>
                            <v-divider inset></v-divider>
                          </v-list>
                        </div>
                      </v-container>

                </v-container>
            </div>
          </div>





          
          <div id="BusinessAccount_Menu_Base" v-show="showBusinessAccounts">
            <div id="ATM_Menu_Header">
                <v-icon dark x-large left>account_balance</v-icon>
                City Bank Business Account Viewer
                <div id="ATM_Character_Information">
                    <div><b>Welcome, {{ character_name }}</b></div>
                </div>
              <v-btn
                color="red"
                slot="activator"
                absolute
                right
                top
                fab
                dark
                small
                @click="CloseBusinessAccounts()"
              >
                <v-icon>clear</v-icon>
              </v-btn>
            </div>
            <div id="ATM_Menu_Body">
                <v-container grid-list-md>
                    The City Bank Official Page for your business accounts, you are able to edit your accounts and move money around
                      <v-container grid-list-xl>
                        <center>Your Current Open Account</center>
                        <br>
                        <br>
                        <div v-for="(item, index) in businessAccounts">
                          <v-list id="scrollable" dark subheader two-line>
                            <v-list-tile avatar @click="">
                              <v-list-tile-avatar>
                                <v-icon class="grey lighten-1 black--text">account_balance</v-icon>
                              </v-list-tile-avatar>          
                              <v-list-tile-content>
                                <v-list-tile-title >Account Number: <b>{{ item.accountnumber }}</b></v-list-tile-title>
                                <v-list-tile-title >Account Name: <b>{{ item.accountname }}</b></v-list-tile-title>
                              </v-list-tile-content>
                              <v-list-tile-action>
                                <div color="grey lighten-1">$ {{numberformat(item.amount)}}</div>
                              </v-list-tile-action>
                            </v-list-tile>
                            <v-divider inset></v-divider>
                          </v-list>
                        </div>
                      </v-container>

                </v-container>
            </div>
          </div>


      </v-content>
    </v-app>

    <script src="libraries/axios.min.js"></script>
    <script src="libraries/vue.min.js"></script>
    <script src="libraries/vuetify.js"></script>
    <script src="script.js"></script>
  </body>
</html>
