<html>
  <header>
    <title>Personal Garage Menu</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link rel="stylesheet" href="libraries/vuetify.css" />
    <link rel="stylesheet" href="style.css" />
  </header>
  <body>
    <v-app id="ISRP_Garage_UI">
      <v-content>
        <div id="ISRP_Job_Garage_Base" v-show="showGarageMenu"> <!-- Garage Menu -->
          <div id="ISRP_Garage_Header">
            <v-btn
              color="orange"
              slot="activator"
              absolute
              left
              top
              fab
              dark
              small
              @click="StoreVehicle()"
            >
              <v-icon>time_to_leave</v-icon>
            </v-btn>
            <v-btn
              color="red"
              slot="activator"
              absolute
              right
              top
              fab
              dark
              small
              @click="CloseGarage()"
              ><v-icon>clear</v-icon></v-btn
            >
            Personal Garage #{{ garageslot }}
          </div>
          <div id="ISRP_Garage_Body">
            <v-alert type="error" :value="vehicles.length <= 0">
              You have no vehicles
            </v-alert>

            <v-container grid-list-md>
              <v-layout pa-1 row wrap>
                <div xs6 v-for="(vehicle, vehicleIndex) in vehicles">
                  <div v-if="vehicle.garage_slot === garageslot">
                    <v-card style="border: 1px solid grey; margin: 1px; width: 95%;">
                      <v-card-title primary-title>
                        <h2>{{ vehicle.modelLabel }}</h2>
                        <br />
                      </v-card-title>
                      <v-card-text>
                        <b>Plate: {{ vehicle.plate }}</b
                        ><br />
                        <b>Fuel: {{ vehicle.fuel_level }}%</b
                        ><br />
                        <b>Body: {{ vehicle.vehicleMods.health }}%</b
                        ><br />
                        <b v-if="vehicle.state === 'IMPOUND'">Status: <strong style="color: red;">{{ vehicle.state }}</strong></b>
                        <b v-else>Status: {{ vehicle.state }}</b
                        ><br />
                      </v-card-text>
                      <v-card-actions>
                        <v-btn
                          color="blue"
                          block
                          dark
                          @click="SelectThisVehicle(vehicleIndex, 'garage')"
                          v-if="vehicle.state === 'IN'"
                          >Select This Vehicle</v-btn
                        >
                        <v-btn
                          v-else=""
                          disabled
                          color="blue"
                          block
                          dark
                          >Select This Vehicle</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </div>
                </div>
              </v-layout>
            </v-container>
          </div>
        </div>
        <div id="ISRP_Job_Garage_Base" v-show="showImpoundMenu"> <!-- Impound Menu -->
          <div id="ISRP_Garage_Header">
            <v-btn
              color="red"
              slot="activator"
              absolute
              right
              top
              fab
              dark
              small
              @click="CloseGarage()"
              ><v-icon>clear</v-icon></v-btn
            >
            Impound Garage #{{ impoundslot }}
          </div>
          <div id="ISRP_Garage_Body">

            <v-container grid-list-md>
              <v-layout pa-1 row wrap>
                <div xs6 v-for="(vehicle, vehicleIndex) in vehicles">
                  <div v-if="vehicle.impound_slot === impoundslot">
                    <v-card style="border: 1px solid grey; margin: 1px; width: 95%;">
                      <v-card-title primary-title>
                        <h2>{{ vehicle.modelLabel }}</h2>
                        <br />
                      </v-card-title>
                      <v-card-text>
                        <b>Plate: {{ vehicle.plate }}</b
                        ><br />
                        <b>Fuel: {{ vehicle.fuel_level }}%</b
                        ><br />
                        <b>Body: {{ vehicle.vehicleMods.health }}%</b
                        ><br />
                        <b>Status: <strong style="color: red;">{{ vehicle.state }}</strong></b
                        ><br />
                      </v-card-text>
                      <v-card-actions>
                        <v-btn
                          color="blue"
                          block
                          dark
                          @click="SelectThisVehicle(vehicleIndex)"
                          >Buy Out Vehicle</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </div>
                </div>
              </v-layout>
            </v-container>
          </div>
        </div>
      </v-content>
    </v-app>
    <script src="libraries/axios.min.js"></script>
    <script src="libraries/vue.min.js"></script>
    <script src="libraries/vuetify.js"></script>
    <script src="script.js"></script>
  </body>
</html>
